@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Code+Pro&display=swap');

:root {
--color-background: #181a1e;
--color-dark: #edeffd;;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: var(--color-background);
    color: var(--color-dark);
}

a {
    text-decoration: none;
}

phot{
    height:450px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    margin: auto;
}

