@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Code+Pro&display=swap');

:root {
--color-background: #181a1e;
--color-dark: #edeffd;;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: var(--color-background);
    color: var(--color-dark);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    color: var(--color-dark);
}

#map {
    margin: auto;
}

.carousel-inner > .carousel-item {
    text-shadow: black 1px 1px 3px;
  }

.carousel-inner > .carousel-item > img {
    height: 30vh;
  }

.card-news > .card-body > img {
    width: auto;
}